
.intro {
margin-top: 40px;
text-align: center;
    &__header {  
        &--special {
        color: red;
        font-family: 'Dancing Script', cursive;
        font-weight: 400;
        font-style: italic;
        font-size: 44px;
            &::before {
            content: ' ~ ';
            color: red;
            }
    }  
    }
    &::after {
        color: red;
        font-size: 50px;
    }
    &__description {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    &__link {
        text-decoration: none;
        color: red;
        font-family: 'Dancing Script', cursive;
        font-weight: 400;
        font-size: 24px;
        &:hover {
            color: rgba(148, 0, 0, 0.666);
        }
    }
    }

.shuffle-button {
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    color: red;
    font-family: 'Dancing Script', cursive;
    border-radius: 10px;
    border: none red 1px;
    &:hover {
        background-color: #dedede8e;
    }
}

