@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: rgba(49, 49, 90, 0.287);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  line-height: 30px;
}

.grid {
&__element {
  color: tan;
  background: cadetblue;
  margin: 2px;
}

&__list {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
gap: 0px 0px;
grid-template-areas:
  ". . . ."
  ". . . ."
  ". . . ."
  ". . . .";
  list-style: none;
}
}


